body {
    background-color: #8e89a3; /* Replace with your desired background color */
}


.Main{
    float: left;
    margin:30px;   
    margin-top: 40px; 
    
}

.AstroImg{
    border: 1px solid rgb(255, 255, 255);
    width: 300px;
    height: auto;
    margin-top: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 30px;
}

.AstroImg-img, img{
    margin-top: 20px;
    width: 100%;
    height: 250px;
    background-color: #ffffff;
}

h1{
    text-align: center;
    font-size: 30px;
}

.About{
    font-size: 15px;
    color: rgb(0, 0, 0);
    
}

h2{
    text-align: center;
    color: rgb(50, 27, 74);
}